---
import { type DataEntryMap, getCollection } from "astro:content";

import FigureImage from "@components/FigureImage.astro";

interface Props {
  collectionName: keyof DataEntryMap;
}

const { collectionName } = Astro.props;

const posts = await getCollection(collectionName);

const sortedPosts = posts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<ul>
  {
    sortedPosts.map((post) => (
      <li>
        <FigureImage
          src={post.data.thumb}
          alt={post.data.description}
          href={`./${post.id}/`}
        >
          <time datetime={new Date(post.data.date).toISOString()}>
            {new Date(post.data.date).toLocaleDateString("en-US", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
          <h2>{post.data.title}</h2>
          <p>{post.data.description}</p>
          <p id="tags">{post.data.tags.join(", ")}</p>
        </FigureImage>
      </li>
    ))
  }
</ul>

<style>
  ul {
    list-style: none;

    li {
      figure {
        a {
          display: grid;
          grid-template-columns: repeat(auto-fit, minmax(40%, 1fr));
        }
      }
    }
  }
</style>
