---
import type { CollectionEntry } from "astro:content";
import { render } from "astro:content";

import FigureImage from "@components/FigureImage.astro";
import Anchor from "@components/Anchor.astro";
import Aside from "./Aside.astro";

import "@styles/blog/content.scss";

import TableOfContents from "@components/Blogs/TableOfContents.astro";

interface Props {
  post: CollectionEntry<"blogs" | "guides">;
}

const { post } = Astro.props;
const { title, date, thumb } = post.data;
const background = `url(${thumb.src})`;

const { Content, headings } = await render(post);
---

<main>
  <article>
    <header>
      <div class="background"></div>
      <div class="brand">
        <h1>
          LEL
          <br />
          DOT
          <br />
          <span>NEKOWEB</span>
        </h1>
      </div>
      <div class="title">
        <time datetime={date.toISOString()}>
          <h2>
            EPISODE: {date.toLocaleDateString()}
          </h2>
        </time>
        <h2>{title}</h2>
      </div>
    </header>
    <section>
      <aside>
        <nav aria-label="Table of contents">
          <TableOfContents {headings} levels={3} />
        </nav>
      </aside>
      <Content components={{ img: FigureImage, a: Anchor, Aside: Aside }} />
    </section>
  </article>
</main>

<style define:vars={{ background }}>
  header {
    height: 100vh;
    padding-inline: clamp(2rem, 15vw, 10rem);
    text-align: center;

    .background {
      position: absolute;
      z-index: -1;
      inset: 0;

      width: 100%;
      height: 100vh;

      background-image: var(--background);
      background-attachment: fixed;
      background-position: center;
      background-size: cover;

      mask-image: linear-gradient(#000000c9, #0000);
    }

    .brand {
      margin-block: 2rem;
      font-weight: 900;
      text-align: start;

      h1 {
        margin: 0;
        font-size: clamp(3rem, 50vh / 3, 20rem);

        span {
          display: block;
          font-size: clamp(6rem, 20vh, 40rem);
        }

        @media (width <= 768px) {
          font-size: clamp(1.5rem, 20vh / 3, 15rem);

          span {
            font-size: clamp(2rem, 7vh, 4rem);
          }
        }
      }
    }

    .title {
      h2 {
        margin: 0;
        font-size: clamp(2rem, 30vh / 3, 15rem);
        font-weight: 900;
        text-align: end;

        time & {
          text-align: start;
        }

        @media (width <= 768px) {
          font-size: clamp(1.5rem, 15vh / 3, 10rem);
        }
      }
    }

    @media (width <= 768px) {
      padding-block: 10rem;
      padding-inline: 2rem;
    }
  }
</style>
