---
import { ClientRouter } from "astro:transitions";

import { Head as CapoHead } from "astro-capo";

interface Props {
  title: string;
  description?: string;
  keywords?: string[];
  image?: string;
}

const {
  title = "Lel@Nekoweb",
  description = "Welcome to Lel@Nekoweb",
  keywords = ["Nekoweb", "Lel", "Blog", "Personal"],
  image,
} = Astro.props;

const canonicalUrl = new URL(
  Astro.url.pathname.endsWith("/")
    ? Astro.url.pathname
    : Astro.url.pathname + "/",
  "https://lel.nekoweb.org",
).href;

const isDev = import.meta.env.DEV;
---

<CapoHead>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>

  <meta name="author" content="Lel Illumina" />
  <link
    rel="icon"
    type="image/png"
    href="/icons/favicon-96x96.png"
    sizes="96x96"
  />

  <!-- Icons   -->
  <link rel="icon" type="image/svg+xml" href="/icons/favicon.svg" />
  <link rel="shortcut icon" href="/icons/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/icons/apple-touch-icon.png"
  />
  <meta name="apple-mobile-web-app-title" content="Lel@Nekoweb" />
  <link rel="manifest" href="/icons/site.webmanifest" />

  <meta name="description" content={description} />
  <meta name="keywords" content={keywords.join(", ")} />
  <meta name="theme-color" content="#8441bb" />

  <!-- OpenGraph Embed stuff -->
  <meta property="og:image" content={new URL(image ?? "", Astro.url)} />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:url" content={new URL(Astro.url.pathname, Astro.site)} />
  <meta property="og:site_name" content="Lel@Nekoweb" />
  <!-- Twitter stuff -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:site" content="@Lel_Illumina" />
  <meta name="twitter:creator" content="@Lel_Illumina" />

  <link rel="sitemap" href="/sitemap-index.xml" />
  <link rel="canonical" href={canonicalUrl} />
  <link
    rel="alternate"
    type="application/rss+xml"
    title="lel@nekoweb"
    href={new URL("rss.xml", Astro.site)}
  />

  {
    !isDev && (
      <script
        is:inline
        type="text/partytown"
        src="https://cloud.umami.is/script.js"
        data-website-id="e892313b-4c2a-45e8-90ed-25d53abbc813"
      />
    )
  }

  <meta
    name="google-site-verification"
    content="WOn7NKMqQnniSYxOoqE9lu4k9YKK9zzhUJkSwQLm-_U"
  />

  <slot name="headContent" />

  <ClientRouter />
</CapoHead>
